{% block interests_widget %}
  {% spaceless %}
    {#{{ dump(form) }}#}
    {% trans_default_domain 'FOSUserBundle' %}

    {% set disciplines = get_disciplines() %}
    {% set states = get_states() %}

    <table>
      <tbody>
      {% for discipline in disciplines %}
        {% set formInterest = (form.vars.value is defined ? form.vars.value : []) %}
        {% set formName = (form.vars.full_name is defined ? form.vars.full_name : '') %}
        <tr>
          <td>
            <label>
              <input type="checkbox" name="{{ formName }}[{{ discipline.id }}][discipline]"
                {% for interest in formInterest %}
                  {% if interest.discipline.id is defined and interest.discipline.id == discipline.id %}
                    checked="checked"
                  {% endif %}
                {% endfor %}
                />
              {{ discipline.name }}
            </label>
          </td>
          <td>
            <select name="{{ formName }}[{{ discipline.id }}][state]" >
              <option value="" {% if interest.state.id is not defined %}selected="selected"{% endif %}>{{ 'form.all'|trans }}</option>
              {% for state in states %}
                <option value="{{ state.id }}"
                  {% for interest in formInterest %}
                    {% if interest.discipline.id is defined
                    and interest.discipline.id == discipline.id
                    and interest.state.id is defined
                    and interest.state.id == state.id
                    %}
                      selected="selected"
                    {% endif %}
                  {% endfor %}>
                  {{ state.name }}
                </option>
              {% endfor %}
            </select>
          </td>
          <td>
            <input type="text" name="{{ formName }}[{{ discipline.id }}][city]"
              {% for interest in formInterest %}
                {% if interest.discipline.id is defined
                and interest.discipline.id == discipline.id
                and interest.city is defined
                %}
                  value="{{ interest.city }}"
                {% endif %}
              {% endfor %} />
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% endspaceless %}
{% endblock %}